.formInput {
  width: 30%;
  height: 30px;
  /* padding: 0.5rem 0.5rem; */
  border-radius: 5px;
  border: 0.5px solid #2f78ae;
  outline: 0.5px solid #2f78ae;
  font-size: 1rem;
  transition: all 0.3s;
}

.formInput:focus {
  border-color: #b3cee3;
  outline: 1px solid #2f78ae;
  background-color: rgba(231, 229, 229, 0.754);
}

.selectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.labelStyle{
  margin-bottom: 10px !important;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerContainer__listUser {
  width: 50%;
}
.headerContainer__selectOption {
  width: 100%;
}

.headerContainer__listUser__container{
  display: flex;
  flex-direction: column;
}
.headerContainer__listUser__user{
  margin-top: 10px;
}

.headerContainer__listUser__separator{
  margin-top: 3px;
  border: 0.1px solid #d7d3d3;
}

.deleteButton{
  background-color: white;
  width: 30px;
  height: 20px;
  border-color: red;
  border-width: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: red
}

.userRelated{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.userRelatedText{
  margin-right: 30px;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}