.optionMenu {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.261);
  font-size: 14px; 
  font-weight: 600; 
  color: black;
  text-align: center;
  cursor: pointer;
}