.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalItemHeader{
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.modalItemValueHead{

}

.modalContent { 
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.modalDetailClientGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px;
  grid-gap: 15px;
  align-items: center;
  border-top: #2f78ae 1px solid;
}

.modalContainerHeadLoc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  grid-gap: 10px;
}

.itemHeadLoc {
  margin-top: 20px;
  height: 100px;
}

.closeButton {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #2f78ae;
}

.modalItem {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
/*   border: 1px solid red; */
}

.modalItemKey {
  font-weight: bold;
}
.modalItemKeyCont{
  /*  background-color: #952fae;  */
}

.modalItemValueCont{
  padding: 8px;
  background-color: rgb(217, 242, 255);
  width:100%;
}

.modalItemValue{
  border:1px rgb(217, 242, 255) solid;
}

 @-webkit-keyframes scale-up-center {
    0% {
       transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
}
  