.modalCSV {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: left;
  justify-content: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalItemHeader{
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  /* background-color: rgb(217, 242, 255); */
}

.modalItemKeyHead{
  padding: 10px;
  margin-left: 20px;
}

.modalItemValueHead{
  padding: 10px;
  width:75%;
}

/* .styleSign{
  border: 1px red solid;
} */
.modalItemFooter{
  margin-top:1px;
  display :grid;
  grid-template-columns: 164px 200px;
  grid-gap: 15px;
}
.modalItemKeyFoot{
  font-weight: bold;
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
}
.modalItemValueFoot{
 margin-top: 1px;
 font-family: 'Lato', sans-serif;
 color:black;
 padding: 2px;
 background-color: rgb(217, 242, 255);
 border: none;
 overflow-y: scroll;
 resize: none;
}

.modalItemSign{
  background-color: rgb(217, 242, 255);
  border: none;
  margin-top: 2px;
  width: '50px';
  height: '100px';
}

img {
  width: '50px';
  height: '50px';
}

.ItemValue{
  padding: 5px;
  background-color: rgb(210, 218, 218);
}
.modalContent { 
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.modalContentCSV { 
  width: 450px;
  height: 250px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 80px;
  margin-left: 230px;
  background-color: white;
  animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.modalCSVcontainer{
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
}

.itemCSVForm{
  display:grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  grid-gap: 20px;
}

.itemCSVInput{
  appearance: none;
  color: #2f78ae;
  font-size: 15px;
  border:1px solid #ECF0F1;
  background:#ECF0F1;
  padding: 4px;
  visibility: visible;
  width: 140px;
  cursor: pointer;
}

.itemCSVButton{
  border:1px solid #ECF0F1;
  padding: 10px;
  color:#ECF0F1;
  background-color: #2f78ae;
  cursor: pointer;
  font-size: medium;
  border-radius: 7px;
}

.modalDetailClientGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px;
  grid-gap: 15px;
  align-items: center;
}

.modalDetailSignGrid{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 15px;
}

.modalItemValueSign{
  padding: 10px;
  background-color: rgb(217, 242, 255);
  height: 90px;
}

.modalContainerHeadLoc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  grid-gap: 10px;
}

.itemHeadLoc {
  margin-top: 20px;
  height: 100px;
}

.closeButton {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #2f78ae;
}

.modalSignContainer{
  margin-top: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  background-color: #2f78ae;
}

.modalItem {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.ItemKey{
  font-weight: bold;
}
.modalItemKey{
  font-weight: bold;
}

.modalItemValueCont{
  padding: 8px;
  background-color: rgb(217, 242, 255);
  width:100%;
}

.modalItemValue{
  border:1px rgb(217, 242, 255) solid;
}

 @-webkit-keyframes scale-up-center {
    0% {
       transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
}
  