.table::-webkit-scrollbar {
    background-color: #dcdcda;
    width: 5px;
    border-radius: 10px;
}

.table::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

/* estilos para los items */
.item {
    width: 35%;
    text-align: left;
    padding: 0.5rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*estilos para los headers*/
.headers {
    width: 20%;
    text-align: "left"; 
    text-transform: capitalize;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 5px;
    font-weight: 600;
    border-bottom: 1px solid #c2c2be; 
}